<main role="main" class="mx-auto">
  <%# <div class="relative"><div class="absolute" style="font-size: 0.6rem;">main > setup</div></div> %>
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
  <%# <p class="text-5xl">Admin.html.eex</p> %>
</main>
